@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
  /*  background: linear-gradient(rgba(0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./assets/bg-4.jpg');
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    */
    background: url('assets/bg-4.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

/* html { 
    background: url('assets/bg-4.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */