@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('./assets/bg-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}